.App {
  text-align: center;
}

.App-container {
  background-color: #bdd9ff;
  border-top-left-radius: 15%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}